.App {
  text-align: center;
}
@font-face {
  font-family: 'carried';
  src: url('./../public/assets/fonts/carried.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'honeymoon';
  src: url('./../public/assets/fonts/honeymoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'stylish';
  src: url('./../public/assets/fonts/stylish.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App{
  font-family: 'stylish';
  overflow-y: hidden;
}

header{
  background-color: #f33c3c !important;
  opacity: 0.78 !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  height: 100px;
  line-height: 100px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.client{
  color: white;
  background-color: black;
  height: 2em;
  width: 100vw;
  overflow: hidden;
  position: relative;
  padding: 0px;
  bottom: 0;
  z-index: 1000;
  margin-bottom: -2px;
}

.moving-text {
  position: absolute;
  top: -0.5em;
  left: 0;
  font-size: 14px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  animation: movePattern 120s 0s linear infinite;
  width: fit-content;
  height: 80%;
}

@keyframes movePattern {
  0%   { left: -20%; top: 0;}  /* Start from left */
  23%  { left: 50%; top: 0%; transform: translateX(-50%); opacity: 1;} /* Move to center */
  30%  { left: 60%; top: 45%; transform: translateX(-50%); opacity: 1;} /* Move down */
  40%  { top: 30%; transform: translateX(-50%); opacity: 1;} /* Move down */
  50%  { left: -20%; top: -10%; opacity: 0;}  /* Exit to left */
  
  51%  { left: 120%; top: 0%; opacity: 0;}  /* Reappear from right */
  73% { left: 50%; top: 0%; transform: translateX(-50%); opacity: 1;} /* Move to center again */
  80%  { left: 40%; top: 45%; transform: translateX(-50%); opacity: 1;} /* Move down */
  90%  { top: 30%; transform: translateX(-50%); opacity: 1;} /* Move down */
  100%  { left: 120%; top: -10%; opacity: 0;} 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.envelop-container {
  width: 100%;
  height: 20em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.envelop {
  width: 30em;
  height: 20em;
  background-color: lightpink;
  border-radius: 0.5em;
  margin: 2em;
  padding: 2em;
  position: relative;
}

.slot {
  position: absolute;
  background-color: red;
  opacity: 0.78 !important;
  width: 30em;
  height: 20em;
  /* clip-path: polygon(10% 100%, 50% 30%, 90% 100%); */
  clip-path: inset(0% 45% 0% 45% round 10px);
  border-radius: 3em;
}

.image-thumbnail {
  aspect-ratio: 1/1;
}

.image-avatar {
  border-radius: 50%;
  background-color: red;
  opacity: 0.78 !important;
  width: 10em;
  box-shadow: red 0px 0px 2em;
  margin: 1em;

  img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
  }
}

.about-con {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.con-img {
  width: 100%;
  &figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.invitation {
  color: orange !important;
  & h2,
  h3,
  h4 {
    color: white !important;
  }

  & h3,h4{
    font-family: 'stylish';
  }
  & p {
    font-size: larger;
  }
  & .subheading {
    /* font-style: oblique; */
    font-family: 'honeymoon';
    font-size:36px;
  }

  & .address {
    font-style: italic;
  }
}

.about_area .persons{
    & h2{
      font-family: 'stylish' !important;
    }
    & p{
      font-family: 'honeymoon';
      font-size: 24px;
    }
  }

.gng-container {
  position: absolute;
  display: flex;
  top: 55%;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.ganeshji {
  position: absolute;
  aspect-ratio: 1/1;
  width: 12dvw;
  &.left {
    left: 20%;
  }
  &.right {
    right: 20%;
  }
  & img {
    filter: brightness(10);
    width: 100%;
    height: 100%;
  }
}

.ganeshji-mob {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & div {
    width: 33dvw;

    & img {
      filter: brightness(10);
      width: 100%;
      height: 100%;
    }
  }
}

.celebration-img {
  aspect-ratio: 16/9; 
  margin-bottom: 0em;
  border-radius: 30px 30px 0em 0em;

  & img {
    width: 100%;
    height: 100%;
  }
}

.font-italic {
  font-style: italic;
}

.font-oblique {
  font-style: oblique;
}

.carosal {
  height: 38em;
  background-color: #61dafb;
}

.invititation {
  z-index: 101;
  top:-6em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
}

.bx-1 {
  box-shadow: inset 10px 10px 20px white, inset -10px -10px 20px white;
  font-size: xx-large;
}

.logo {
  & a {
    text-decoration: none !important;
  }
}
.heading-title {
  text-decoration: none;
  font-size: xxx-large;
  font-family: "Great Vibes", cursive;
  color: white;
  font-weight: bolder;
  /* font-style: italic; */
  display: inline-flex;
  gap: 0.5em;

  & img {
    max-width: 4em;
    height: 1.5em;
    vertical-align: text-top;
  }
}

.counter-con {
  text-shadow: 11px 9px 10px red;
  h2,p {
    font-family: 'honeymoon' !important;
  }
}

.image-bg{
  height: 100%;
  width: 100%;
  filter: blur(2px);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.counter-container {
  text-shadow: 1px 1px 10px orange, 1px 1px 10em green, 1px 1px 1em red;
}

.invitation {
  row-gap: 1em;
}
.storys{
  padding: 0.8em;
  & .content{
    h4{
      font-size: xx-large !important;
    }
    p{
      font-size: 24px !important;
    }
  }
}
@media (min-width: 768px) {
  .lefts {
    padding-right: 2.5em !important;
    & .storys {
      margin-left: 0em;
    }
  }

  .rights {
    padding-left: 2.5em !important;
    & .storys {
      margin-right: 0em;
    }
  }

  .neg-mar {
    margin-top: -12em !important;
  }

  #gallery{
    margin-left: 5em;
    margin-right: 5em;
  }
}

@media (min-width: 992px) {
  .custom-shadow-lg {
    box-shadow: 0.5em 0.5em 1em brown;
    width: 80%;
    height: 40em;
  }
  .lefts {
    padding-right: 5em !important;
    & .storys {
      margin-left: 10em;
    }
  }

  .rights {
    padding-left: 5em !important;
    & .storys {
      margin-right: 10em;
    }
  }

  .neg-mar {
    margin-top: -4em !important;
  }

  #gallery{
    margin-left: 10em;
    margin-right: 10em;
  }
}

.storys p{
  font-family: 'honeymoon';
  font-size: 24px;
}

.map-container {
  width: 100%;
  aspect-ratio: 16/9;
}

.info-list {
  padding: 0.5em;
  box-shadow: 1px 1px 6px 0px lightslategray,  1px 1px 4px 0px slategray;
  border-radius: 1em;
  & .info-ico{
    background: transparent !important;
    border: none !important;
  }
  &:hover,&:active,&:focus{
    box-shadow: 1px 1px 6px 0px red,  1px 1px 4px 0px lightcoral;

  }
}

iframe:hover,iframe:focus,iframe:active{
  border-color: gray !important;
}

.clickable {
  padding: 0.5em 1em;
  border-radius: 2em;
  color: white;
  background-color: red;
  opacity: 0.78 !important;
  border: 2px solid white;
  font-size: larger;
  font-weight: 600;
  font-family: ui-monospace;
  font-style: italic;
  cursor: pointer;
  width: fit-content;
  &:hover{
    color: red;
    background-color: white;
    border: 2px solid red;
    scale: 1.01;
  }
  gap: 1em;
}